.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .footer {
  background-color: #ffffff;
  overflow: hidden;
  width: 1600px;
  height: 2496px;
  position: relative;
}

.screen .footer-view {
  position: absolute;
  width: 1602px;
  height: 252px;
  top: 2244px;
  left: 0;
}

.screen .footer-group {
  position: relative;
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.screen .footer-webstudio {
  position: absolute;
  top: 60px;
  left: 215px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 26px;
  letter-spacing: 0.78px;
  line-height: normal;
  white-space: nowrap;
}

.screen .footer-wrapper {
  color: #2196f3;
  letter-spacing: 0.20px;
}

.screen .footer-span {
  color: #ffffff;
  letter-spacing: 0.20px;
}

.screen .footer-address {
  position: absolute;
  width: 237px;
  height: 81px;
  top: 111px;
  left: 215px;
}

.screen .footer-text {
  position: absolute;
  width: 231px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 24px;
  white-space: nowrap;
}

.screen .footer-wrapper-two {
  width: 231px;
  top: 30px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff99;
  letter-spacing: 0.42px;
  line-height: 24px;
  position: absolute;
  left: 0;
  font-size: 14px;
  white-space: nowrap;
}

.screen .footer-wrapper-three {
  width: 231px;
  top: 60px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff99;
  letter-spacing: 0.42px;
  line-height: 24px;
  position: absolute;
  left: 0;
  font-size: 14px;
  white-space: nowrap;
}

.screen .ourteam-overlap {
  position: absolute;
  width: 1600px;
  height: 648px;
  top: 1596px;
  left: 0;
  background-color: #f5f4fa;
}

.screen .ourteam-wrapper-four {
  position: absolute;
  top: 93px;
  left: 668px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.08px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-team {
  position: absolute;
  width: 1170px;
  height: 368px;
  top: 186px;
  left: 215px;
}

.screen .ourteam-teamcard {
  left: 0;
  position: absolute;
  width: 274px;
  height: 368px;
  top: 0;
}

.screen .ourteam-overlapgroup-two {
  position: relative;
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--material-shadow-v1);
}

.screen .ourteam-img {
  position: absolute;
  width: 270px;
  height: 260px;
  top: 0;
  left: 0;
}

.screen .ourteam-wrapper-five {
  position: absolute;
  top: 290px;
  left: 71px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-wrapper-six {
  position: absolute;
  top: 319px;
  left: 70px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-overwrapper {
  left: 300px;
  position: absolute;
  width: 274px;
  height: 368px;
  top: 0;
}

.screen .ourteam-wrapper-seven {
  position: absolute;
  top: 290px;
  left: 83px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-wrapper-eight {
  position: absolute;
  top: 319px;
  left: 62px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-group-wrapper {
  left: 600px;
  position: absolute;
  width: 274px;
  height: 368px;
  top: 0;
}

.screen .ourteam-wrapper-nine {
  position: absolute;
  top: 290px;
  left: 70px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-wrapper-ten {
  position: absolute;
  top: 319px;
  left: 97px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-divwrapper {
  left: 900px;
  position: absolute;
  width: 274px;
  height: 368px;
  top: 0;
}

.screen .ourteam-wrapper-elevin {
  position: absolute;
  top: 290px;
  left: 63px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .ourteam-wrapper-tweleve {
  position: absolute;
  top: 319px;
  left: 92px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
  white-space: nowrap;
}

.screen .main-view-two {
  position: absolute;
  width: 1172px;
  height: 386px;
  top: 1116px;
  left: 215px;
}

.screen .main-box {
  left: 0;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 92px;
  background-image: url(./img/img-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .main-box-two {
  left: 400px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 92px;
  background-image: url(./img/img-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .main-box-three {
  left: 800px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 92px;
  background-image: url(./img/img-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .main-wrapper-thrteen {
  position: absolute;
  top: 0;
  left: 402px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.08px;
  line-height: normal;
  white-space: nowrap;
}

.screen .main-view-three {
  position: absolute;
  width: 1170px;
  height: 248px;
  top: 774px;
  left: 215px;
}

.screen .main-feature {
  height: 248px;
  left: 0;
  position: absolute;
  width: 274px;
  top: 0;
}

.screen .main-wrapper-fourteen {
  position: absolute;
  width: 270px;
  top: 150px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: normal;
}

.screen .main-wrapper-fiveteen {
  position: absolute;
  width: 270px;
  top: 176px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 24px;
}

.screen .main-group {
  position: absolute;
  width: 270px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.screen .main-divwrapper-two {
  position: relative;
  width: 70px;
  height: 70px;
  top: 25px;
  left: 100px;
}

.screen .main-group-two {
  position: relative;
  width: 65px;
  height: 70px;
  left: 2px;
  background-image: url(./img/group-23.png);
  background-size: 100% 100%;
}

.screen .main-feature-two {
  height: 224px;
  left: 300px;
  position: absolute;
  width: 274px;
  top: 0;
}

.screen .main-img-two {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 25px;
  left: 100px;
}

.screen .main-feature-three {
  height: 224px;
  left: 600px;
  position: absolute;
  width: 274px;
  top: 0;
}

.screen .main-feature-four {
  height: 248px;
  left: 900px;
  position: absolute;
  width: 274px;
  top: 0;
}
.screen .effective-view-four {
  position: absolute;
  width: 1602px;
  height: 600px;
  top: 80px;
  left: 0;
}

.screen .effective-overlap-three {
  position: relative;
  width: 1600px;
  height: 600px;
  background-image: url(./img/bg.png);
  background-size: 100% 100%;
}

.screen .effective-img-three {
  position: absolute;
  width: 1600px;
  height: 600px;
  top: 0;
  left: 0;
}

.screen .effective-wrapper-sixteen {
  position: absolute;
  width: 696px;
  top: 200px;
  left: 452px;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: 2.64px;
  line-height: 60px;
}

.screen .effective-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 218px;
  height: 50px;
  top: 350px;
  left: 692px;
}

.screen .effective-overgroup-four {
  position: relative;
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;
}

.screen .effective-wrapper-seventeen {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 32px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.96px;
  line-height: 30px;
  white-space: nowrap;
}

.screen .effective-div-two{
  position: absolute;
  width: 1602px;
  height: 80px;
  top: 0;
  left: 0;
}

.screen .effective-overlap-four {
  position: relative;
  width: 1600px;
  height: 80px;
  background-color: #ffffff;
}

.screen .effective-line {
  position: absolute;
  width: 1600px;
  height: 1px;
  top: 79px;
  left: 0;
  object-fit: cover;
}

.screen .effective-webstudio-two {
  position: absolute;
  top: 24px;
  left: 215px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 26px;
  letter-spacing: 0.78px;
  line-height: normal;
  white-space: nowrap;
}

.screen .effective-wrapper-eighteen {
  color: #000000;
  letter-spacing: 0.20px;
}

.screen .header-nav {
  position: absolute;
  width: 287px;
  height: 16px;
  top: 32px;
  left: 453px;
}

.screen .header-div-three {
  position: absolute;
  width: 47px;
  height: 16px;
  top: 0;
  left: 0;
}

.screen .header-wrapper-nineteen {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
  white-space: nowrap;
}

.screen .header-wrapper-twonty {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #2196f3;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
  white-space: nowrap;
}

.screen .header-wrapper-twontyone {
  position: absolute;
  top: 0;
  left: 95px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
  white-space: nowrap;
}

.screen .header-wrapper-twontytwo {
  position: absolute;
  top: 0;
  left: 217px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
  white-space: nowrap;
}

.screen .email {
  position: absolute;
  width: 137px;
  height: 16px;
  top: 32px;
  left: 1078px;
}

.screen .header-overlap-five {
  position: relative;
  height: 16px;
}

.screen .header-wrapper-twontythree {
  top: 0;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  left: 0;
  font-size: 14px;
  white-space: nowrap;
}

.screen .header-hover {
  position: absolute;
  width: 137px;
  height: 16px;
  top: 0;
  left: 0;
}

.screen .header-tel {
  position: absolute;
  width: 124px;
  height: 16px;
  top: 32px;
  left: 1263px;
}

.screen .header-div-four {
  position: absolute;
  width: 643px;
  height: 18px;
  top: 49px;
  left: 480px;
}

.screen .header-finger {
  top: 0;
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.screen .header-group-twontyfour {
  position: relative;
  width: 13px;
  height: 16px;
  left: 1px;
  background-image: url(./img/group-13.png);
  background-size: 100% 100%;
}

.screen .header-group-wrapper {
  top: 2px;
  left: 627px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.screen .header-group-twontyfive {
  position: relative;
  width: 13px;
  height: 16px;
  left: 1px;
  background-image: url(./img/group-9.png);
  background-size: 100% 100%;
}